@model EntityLayer.Concrete.Author
@{
    ViewBag.Title = "AddAuthor";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form class="form-group" method="post">

    @Html.Label("Yazar Adı Soyadı")
    @Html.TextBoxFor(x => x.AuthorName, new { @class = "form-control" })
    <br />
    @Html.Label("Resim Yolu")
    @Html.TextBoxFor(x => x.AuthorImage, new { @class = "form-control" })
    <br />
    @Html.Label("Yazarın Yetenekleri")
    @Html.TextBoxFor(x => x.AuthorAbout, new { @class = "form-control" })
    <br />
    @Html.Label("Yazarın Mesleği")
    @Html.TextAreaFor(x => x.AuthorTitle, new { @class = "form-control" })
    <br />
    @Html.Label("Hakkında")
    @Html.TextAreaFor(x => x.AuthorAbout, 3, 20, new { @class = "form-control" })
    <br />
    @Html.Label("Mail Adresi")
    @Html.TextAreaFor(x => x.Mail, new { @class = "form-control" })
    <br />
    @Html.Label("Yazar Şifre")
    @Html.TextAreaFor(x => x.Password, new { @class = "form-control" })
    <br />
    @Html.Label("Yazar Telefon")
    @Html.TextAreaFor(x => x.PhoneNumber, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">
        Kaydet


    </button>
</form>