@model EntityLayer.Concrete.Blog
@{
    ViewBag.Title = "AddnewBlog";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<form class="form-group" method="post">

    @Html.Label("Blog Başlığı")
    @Html.TextBoxFor(x => x.BlogTitle, new { @class = "form-control" })
    <br />
    @Html.Label("Kategori")
    @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.values, new { @class = "form-control" })
    <br />
    @Html.Label("Resim Yolu")
    @Html.TextBoxFor(x => x.BlogImage, new { @class = "form-control" })
    <br />
    @Html.Label("Tarih")
    @Html.TextBoxFor(x => x.BlogDate, new { @class = "form-control" })
    <br />
    @Html.Label("Yazar")
    @Html.DropDownListFor(x => x.AuthorID, (List<SelectListItem>)ViewBag.values2, new { @class = "form-control" })
    <br />
    @Html.Label("İçerik")
    @Html.TextAreaFor(x => x.BlogContent, 8, 40, new { @class = "form-control" })
    <br />

    <button class="btn btn-info">
        Kaydet


    </button>
</form>

